#maindiv{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
	
h1{
	text-align: center;
}

.menusub1{
	margin-left: 10px;
}

.menusub2{
	margin-left: 20px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.miniheader{
	font-weight: bold;
	text-decoration: underline;
}

